#root {
  width: 100vw; /* Ancho del 100% del viewport */
  height: 100vh; /* Altura del 100% del viewport */
  margin: 0;
  text-align: center;
  border-top: none; /* Agrega esta línea para eliminar el borde superior */
}