/* Button.module.css */
.button {
  background-color: rgb(240, 168, 60);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s;
  margin-left: 50px; /* Agrega un margen derecho entre los botones */
}

/* Estilos para el último botón para eliminar el margen derecho */
.button:last-child {
  margin-right: 0;
}

.button:hover {
  background-color: #994000;
}
